<script type="text/x-jquery-tmpl">
    <form>
        <div class="row">
            <div class="col-md-3">
                ${href_lien}
            </div>
            <div class="col-md-3">
                <input class="form-control" type="text" data-id="rel_lien" id="rel_lien" name="rel_lien" value="${rel_lien}" placeholder="Rel" />
            </div>
            <div class="col-md-3">
                <input class="form-control" type="text" data-id="target_lien" id="target_lien" name="target_lien" value="${target_lien}" placeholder="Target"/>
            </div>
            <div class="col-md-3">
                <button type="button" data-id="action" class="btn btn-default push_cms" value="set_href_attributes">Mettre à jour</button>
            </div>
            <input type="hidden" data-id="url_reference" name="url_reference" value="${href_lien}" />
        </div>
    </form>
</script>