<script type="text/x-jquery-tmpl">
    <form>
        <div class="row">
            <div class="col-md-3">
                ${href_lien}
            </div>
            <div class="col-md-3">
                <select class="form-control" data-id="rel_lien" id="rel_lien" name="rel_lien">
                    <option value="">-- rel --</option>
                    <option value="nofollow" {{if rel_lien=='nofollow'}} selected="selected" {{/if}}>nofollow</option>
                </select>
            </div>
            <div class="col-md-3">
                <select class="form-control" data-id="target_lien" id="target_lien" name="target_lien">
                    <option value="">-- target --</option>
                    <option value="_blank" {{if target_lien=='_blank'}} selected="selected" {{/if}}>_blank</option>
                </select>
            </div>
            <div class="col-md-3">
                <button type="button" data-id="action" class="btn btn-default push_cms" value="set_post_hrefattributes">Mettre à jour</button>
            </div>
            <input type="hidden" data-id="url_reference" name="url_reference" value="${href_lien}" />
        </div>
    </form>
</script>