

/** EASYCONTENT EDITOR - toolbar **/
.toolbar-editor {
    position: absolute;
    border: 1px solid black;
    background-color: #eee;
    padding: 5px 20px;
}

/** EASYCONTENT EDITOR **/
.toolbar-editor span { cursor: pointer; }
.ui-droppable-active { background-color: #f0f0f0; }
.placeholderdrop { height: 50px; border: 2px dashed #c0c0c0; }
.placeholderActive { display: block!important; }
.placeholderdrop.mtop { margin: 10px 0px; }
.placeholderdrop:hover { background-color: #c9e2b3;}
.placeholderdrop > div { height: 100%; }

/** EASYCONTENT EDITOR - Ajout d'une ligne **/
.easyContentAddRow {
    -webkit-animation-name: animationEasyContentAddRow; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: animationEasyContentAddRow;
    animation-duration: 4s;
}

@keyframes animationEasyContentAddRow {
    from {background-color: #c9e2b3;}
    to {background-color: #D2E4EE;}
}

#page_easycontenteditor_loadpage { display: none; }


/** jquey-loading - overlay on bootstrap modal **/
.loading-overlay { z-index: 1100!important; }


/** shopify **/
#container-shopify { display: none; }

/** weebly **/
#container-weebly { display: none; }


/** divers **/
.h200 { height: 200px; }
.t25 { position: relative; top: 25px; }
.empty { border: 2px dashed #c0c0c0; height: 50px;}
.confirmAction, .pointer { cursor: pointer; }